extends layout.pug
block content
    div(id='single-album-page')
        div(id='single-album')
            h1(id='album_title') #{album.name}
            img(src= album.url id='single-album-cover')
            h3(id='s-album-page-artist') by #{album.artist}
            h4(id='s-album-page-release-date') Release Date: #{album.releaseDate}

            hr(id='s-album-songs-divider')
            div(id='s-album-song-list')
                h2(id='s-album-songs') Song List
                ol
                    each song in songListArr
                        li #{song}
        div(id="s-album-page-vertical-separator")
        div(id='reviews-container')
            h2 Reviews
            ul(id='review-list')
                each review in reviews
                    li(class='single-review' id=`container-${review.id}`)
                        p(id='reviewer-name') #{review.User.firstName} #{review.User.lastName}
                        p(id='review-date') #{review.createdAt}
                        p(id='review-content') #{review.content}
                        if review.userId === userId
                            button(type='button' class='edit-review btn' id=`${review.id}`) Edit
                            button(type='button' class='delete-review btn' id=`${review.id}`) Delete
                            form(class='hidden' id=`edit-form-${review.id}`)
                                input(type='text', name='content' value= review.content id=`${review.id}-edit-content`)
                                button(class="edit-submit" id=`edit-submit-${review.id}`) Submit
            hr(id='s-album-review-divider')
            div(id='leave-review')
                h2(id='add-review') Leave a Review
                form(action=`/albums/${album.id}` method='post' id='new-review-form')
                    input(type="hidden" class='token' name="_csrf" value=csrfToken)
                    textarea(type="text" id="newReview" name="content" value=newReview.content placeholder="Your review..." required )
                    button(type='submit' id="add-review-button" class='btn') Post Review
        if errors.length > 0
            each err in errors
                p= err
