extends guest-layout.pug

block content
     h2 All Albums
     div(class="profile-body")
        body
            table
                thead
                    tr
                        th(class='album-head-row') Album
                        th(class='album-head-row') Artist
                        th(class='album-head-row') Release Date
                        th(class='album-head-row') Song List
                        th(class='album-head-row') Album Rating
                        th(class='album-head-row') Add To Favorites
                tbody
                     each album in albums
                      tr(class=`albumRow-${album.id}`)
                          td
                            a(href=`/albums/${album.id}` class='home-album-link')
                              img(src= album.url)
                          td(class='album-tbl-rows' id='album-Name')= album.name
                          td(class='album-tbl-rows')= album.artist
                          td(class='album-tbl-rows')= album.releaseDate
                          td(class='album-tbl-rows' id='song-name')
                            ul
                                each song in album.songList.split("%")
                                    li #{song}
                          td= album.rating
                          td
                            button(type='button' class='fave btn' id=`${album.id}`) Add
