extends layout.pug

block content
    h2 All Albums
    div(class="album-profile-body")
        body
            table(id='albums-table-page')
                thead
                    tr
                        th(class='album-head-row')
                        th(class='album-head-row') Album
                        th(class='album-head-row') Artist
                        th(class='album-head-row') Release Date
                        th(class='album-head-row') Song List
                        th(class='album-head-row') Album Rating
                        th(class='album-head-row') Add To Favorites
                tbody
                     each album in albums
                      tr(class=`albumRow-${album.id}`)
                          td(class='album-td')
                            a(href=`/albums/${album.id}` class='home-album-link')
                              img(src= album.url class="album")
                          td(class='album-td album-tbl-rows' id='album-Name')= album.name
                          td(class='album-td album-tbl-rows')= album.artist
                          td(class='album-td album-tbl-rows')= album.releaseDate
                          td(class='album-td album-tbl-rows' id='song-name-albums')
                            ul(class='albums-ul')
                                each song in album.songList.split("%")
                                    li #{song}
                          td(class='album-td')= album.rating
                          td(class='album-td')
                            button(type='button' class='fave btn' id=`${album.id}`) Add
