extends guest-layout.pug

block content
    h2 All Albums
    div(class="profile-body")
        body
            table
                thead
                    tr
                        th Album
                        th Artist
                        th Release Date
                        th Song List
                        th Add To Favorites
                tbody
                     each album in albums
                      tr(class=`albumRow-${album.id}`)
                          td
                            a(href=`/albums/${album.id}` class='home-album-link')
                              img(src= album.url)
                          td= album.name
                          td= album.artist
                          td= album.releaseDate
                          td
                            ol
                                each song in album.songList.split("%")
                                    li #{song}
                          td= album.rating
                          td
                            button(type='button' class='fave btn' id=`${album.id}`) Add
