extends layout.pug

block content
    div(class='greeting')
        //- h2 Welcome, #{loggedInUser.firstName}!
        h1 Top 10 Charted Albums of the Month
    div(class="home")
        table(id='top-ten')
            thead
                tr
                    th(class='head-row')
                    th(class='head-row') Album
                    th(class='head-row') Artist
                    th(class='head-row') Release Date
                    th(class='head-row') Rating
                    th(class='head-row') Fav it!
            tbody
                each album in albums
                  tr(class=`albumRow-${album.id}`)
                      td(class='tbl-rows')
                        a(href=`/albums/${album.id}` class='home-album-link')
                          img(src= album.url class='album home-img')
                      td(class='tbl-rows')= album.name
                      td(class='tbl-rows')= album.artist
                      td(class='tbl-rows')= album.releaseDate
                      td(class='tbl-rows')= album.rating
                      td(class='tbl-rows')
                        button(type='button' class='fave btn' id=`${album.id}`) Add
        div(id="vertical-separator")
        div(id="side-list")
            div(id='news')
                div(id='div-catch-up')
                    h2(id='catch-up') Catch Up
                div(class='article')
                    a(href='https://pitchfork.com/news/snail-mail-performs-glory-on-fallon-watch/' class='news-link')
                        img(src='/snail.jpg' class='news_img')
                        p(class='news_title') Snail Mail Performs “Glory” on Fallon: Watch
                div(class='article')
                    a(href='https://pitchfork.com/news/stranger-things-season-4-soundtrack-announced/' class='news-link')
                        img(src='/stranger.jpg' class='news_img')
                        p(class='news_title') Stranger Things Season 4 Soundtrack Announced
                div(class='article')
                    a(href='https://pitchfork.com/news/billy-woods-announces-north-american-aethiopes-tour/' class='news-link')
                        img(src='/billy.jpg' class='news_img')
                        p(class='news_title') billy woods Announces North American Aethiopes Tour
                div(class='article')
                    a(href='https://pitchfork.com/news/japanese-breakfast-announced-as-music-guest-for-snl-season-47-finale/' class='news-link')
                        img(src='/japanese.jpg' class='news_img')
                        p(class='news_title') Japanese Breakfast Announced as Music Guest for SNL Season 47 Finale
                div(class='article')
                    a(href='https://pitchfork.com/news/phoebe-bridgers-megan-thee-stallion-angel-olsen-and-more-denounce-supreme-court-plan-to-overturn-roe-v-wade/' class='news-link')
                        img(src='/bridgers.jpg' class='news_img')
                        p(class='news_title') Phoebe Bridgers, Megan Thee Stallion, Angel Olsen, and More Denounce Supreme Court’s Plan to Overturn Roe v. Wade
