extends layout.pug

block content
  div
    h1 Welcome #{loggedInUser.firstName}
  div
    h1 Top 10 Charted Albums of the Month
    div(class="top-ten")
        body
            table
                thead
                    tr
                        th Album
                        th Artist
                        th Release Date
                        th Rating
                        th Add To Favorites
                tbody
                    each album in albums
                      tr(class=`albumRow-${album.id}` )
                        div(class='home-album-container')
                          td
                            a(href=`/albums/${album.id}` class='home-album-link')
                              img(src= album.url)
                          td= album.name
                          td= album.artist
                          td= album.releaseDate
                          td= album.rating
                          td
                            button(type='button' class='fave btn' id=`${album.id}`) Add
  div(class="side-list")
      div
        h3 Editors Choice
        p This month we have a wide selection of albums that caught my eye.
        div
          p PLACE HOLDER FOR STATS PICTURE
