extends layout.pug

block content

    div(class="profile-bar")
        div(class='profile-picture')
            img(class='profile-image')
        div(class='profile-info')
            h3(class='profile-name') #{loggedInUser.firstName + ' '+ loggedInUser.lastName}
            a(href=`/settings`)
                button(type='button' class='profile-edit btn') Edit Profile

    h2 Your Favorite List
    div(class="profile-body")
        body
            table
                thead
                    tr
                        th
                        th Album Name
                        th Artist
                        th Realease Date
                        //- th Song List
                        th Remove Album

                tbody
                        each album in favListQuery
                                tr(id=`container-${album.albumId}`)
                                    td
                                        a(href=`/albums/${album.id}` class='home-album-link')
                                            img(src= album.url)
                                    td= album.name
                                    td= album.artist
                                    td= album.releaseDate
                                    td
                                        button(type='button' class='removeFave btn' id=`${album.albumId}`) Remove
    div(class="profile-sidebar")
        div(class='member-since-container')
            h3 Thanks for being a member!
            h4 Member since #{loggedInUser.createdAt.getUTCMonth() + 1}/#{loggedInUser.createdAt.getUTCDate()}/#{loggedInUser.createdAt.getUTCFullYear()}
        div(class='associated-links')
            a(href='/about') About
            p(class='company') Three Musketeers Co. ©
